* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #efefef;
  font-family: "Open Sans", sans-serif;
}

.coffee-logo {
  height: 25px;
  top: 3px;
  position: relative;
  right: 3px;
}

.header-coffee {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.header-coffee-bar {
  color: #fbf2c0;
  font-weight: normal;
  background-color: #43281c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  display: grid;
  row-gap: 30px;
  column-gap: 30px;
  grid-template-areas:
    "order payment-column"
    "total total";
  padding: 30px;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 100%;
}

.box {
  background-color: #eee1d5;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 0.2);
  width: 100%;
}

.order {
  grid-area: order;
}

.payment {
  grid-area: payment;
}

.box-name {
  color: #885a2d;
  font-weight: normal;
  font-size: 16px;
}

.items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas:
    "quantity name price"
    ". options .";
  border-bottom: 2px solid #DDB892;
  padding: 10px 0;
  row-gap: 10px;
}

.item:last-child {
  border-bottom: none;
}

.item-quantity {
  grid-area: quantity;
}

.item-name {
  font-weight: bold;
  justify-items: center;
  grid-area: name;
}

.item-price {
  font-weight: bold;
  grid-area: price;
}

.item-options-list {
  list-style: none;
  grid-area: options;
  color: #B08968;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.item-option {
  margin-bottom: 5px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-label {
  color: #885a2d;
  font-size: 11px;
  position: absolute;
  left: 25px;
  top: -7px;
  padding: 0px 2px;
  background-color: #eee1d5;
}

.input-input {
  padding: 8px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #885a2d;
  width: 100%;
  font-size: 18px;
  text-indent: 18px;
}

.short {
  width: 50%;
}

.total {
  grid-area: total;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.totals-table {
  width: 100%;
  max-width: 500px;
  margin-bottom: 30px;
}

.totals-table td {
  padding: 10px;
}

.totals-table td:last-child {
  text-align: right;
}

.final-totals {
  font-weight: bold;
}


.checkout {
  background-color: #deb993;
  border-radius: 100px;
  width: 100%;
  border: none;
  font-size: 16px;
  padding: 10px 30px;
}